@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Jua&display=swap');
:root{
--font-text: "Baloo 2", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-text);
    background-color: #FF8C00;
    background-image: linear-gradient(170deg,#FF8C00,#ffa02b,#FED8B1);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 15px;
    height: 10vh;
}
header .left{
    color: #fff;
}
header .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header .right a{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 30px;
    color: #111;
    text-decoration: none;
}
header .right button{
    background-color: #ffffff00;
    color: #fff;
    border: none;
    font-size: 20px;
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .info{
    display: flex;
    justify-content: center;
    gap: 15px;
}
main .info a{
    text-decoration: none;
    color: #fff;
}
main button{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
}
main .box-search{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
main .box-search .boxes{
    height: 60px;
    width: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}